@import 'yeticss'

.color.red
  color: $red

.color.green
  color: $green

.color.orange
  color: $orange

.icon.ramen
  width: 30px
  height: 30px
  background-image: url(../images/ramen-emoji.png)
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;

.hidden
  display: none
  visibility: hidden

header
  padding-top: 50px

.label
  height: 40px

  .label-color
    width: 24px
    height: 24px
    border: 1px solid grey
    border-radius: 20px
    display: inline-block

  > span
    margin-left: 10px
    margin-right: 10px
